*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: #3B4664;
    font-weight: 999;
font-family: Arial, Helvetica, sans-serif;
}
.backbone{
padding-top:6%;
padding-left: 32%;
padding-right:32%;
}
.upper-half{
display: flex;
justify-content: space-between;
}
.upper-half p{
    color: white;
}

.second-upper-half{
display: flex;
justify-content: space-between;
}


#THEME{
padding-right: 20px;
padding-top: 25px;
font-size: small;
}

#calc{
font-size: xx-large;
}


.results {
    background-color: #181F32;
    height: 150px;
    margin-top: 30px;
    border-radius: 12px;
    position: relative;
    width: 100%;
  }
  
  div.results div {
    color: #FBFBFB;
    font-size: 45px;
    right: 5%;
    top: 20%;
    position: absolute;
  }
  


input[type="checkbox"] {
    display: none;
}


.toggle-button {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #252D44;
    border-radius: 15px;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D04532;
    top: 2px;
    left: 4px;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}


.fixator{
background-color:#252D44 ;
margin-top: 30px;
border-radius: 12px;
height: 460px;
padding: 5%;
position: relative;
}


.grid-container{
    display: grid;
    grid-template-rows: repeat(5, 15%);
    grid-template-columns: repeat(4, 17%);
    justify-content: space-evenly;
    grid-gap: 22px;
}

.grid-container div{
background-color: #EAE3DB;
border-radius: 10px;
box-shadow: 1px 5px 0px 0px #B5A49A;
display: flex;
justify-content: center;
align-items: center;
font-size: 26px;
color:#434A5A ;
cursor: pointer;
}




#number-17{
grid-area:5/1/6/3 ;
color: #FFFEFF;
background-color:#647299 ;
box-shadow: 1px 5px 0px 0px #424E74;
}
#number-18{
grid-area: 5/3/6/5;
color: #FFFEFF;
background-color: #D13F30;
box-shadow: 1px 5px 0px 0px #96271C;
}
#number-4{
color: #FFFEFF;
background-color:#647299 ;
box-shadow: 1px 5px 0px 0px #424E74;
}



#the123{
    padding-left: 5px;
}

@media screen and  (max-width: 530px) {
    .backbone{
        padding-left:5% ;
        padding-right:5% ;
    }

}


    
  
  



